<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/font/iconfont.css">
    <link rel="stylesheet" href="public_comment_reply.css">
    <title>评论发贴组件</title>
</head>
<body>
<div class="public-comment-reply">
<!--    评论区-->
    <div class="comment">
        <h3>我要评论</h3>
        <div>
            <label for="comment"><img src="../../../static/images/user.png" alt=""></label>
            <textarea name="" id="comment"></textarea>
        </div>
        <button>发表评论</button>
    </div>

<!--    回复区-->
    <div class="reply">
        <h3>最新回复</h3>
        <div>
            <img src="../../../static/images/user.png" alt="">
            <div class="detail">
                <span>用户昵称</span>
                <span>留言内容: php中文网,是一个有温度,有思想的学习平台</span>
                <div>
                    <span>2019-12-12 15:34:23发表</span>
                    <span><i class="iconfont icon-dianzan"></i>回复</span>
                </div>
            </div>
        </div>

        <div>
            <img src="../../../static/images/user.png" alt="">
            <div class="detail">
                <span>用户昵称</span>
                <span>留言内容: php中文网,是一个有温度,有思想的学习平台</span>
                <div>
                    <span>2019-12-12 15:34:23发表</span>
                    <span><i class="iconfont icon-dianzan"></i>回复</span>
                </div>
            </div>
        </div>

        <div>
            <img src="../../../static/images/user.png" alt="">
            <div class="detail">
                <span>用户昵称</span>
                <span>留言内容: php中文网,是一个有温度,有思想的学习平台</span>
                <div>
                    <span>2019-12-12 15:34:23发表</span>
                    <span><i class="iconfont icon-dianzan"></i>回复</span>
                </div>
            </div>
        </div>

        <div>
            <img src="../../../static/images/user.png" alt="">
            <div class="detail">
                <span>用户昵称</span>
                <span>留言内容: php中文网,是一个有温度,有思想的学习平台</span>
                <div>
                    <span>2019-12-12 15:34:23发表</span>
                    <span><i class="iconfont icon-dianzan"></i>回复</span>
                </div>
            </div>
        </div>
</div>
</div>
</body>
</html>