@import url(../public_reset.css);

/*每个分页按钮水平排列,适合flex布局*/
.public-paginate {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
/*设置每一个分页按钮的样式*/
.public-paginate > a {
    margin-right: 5px;
    font-size: 16px;
    padding: 5px 20px;
    background-color: #fff;
    border-radius: 3px;
}
/*鼠标划过效果*/
.public-paginate > a:hover {
    background-color: #44AAEE;
    color: white;
    box-shadow: 0 0 3px #888888;
}

