<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="article_public_recommend.css">
    <title>文章系统的推荐阅读组件</title>
</head>
<body>
<div class="article-public-recommend">
    <h3>推荐阅读</h3>
    <div class="img-list">
        <div>
            <a href=""><img src="../../../static/images/img1.jpg" alt=""></a>
            <a href="">惠若琪 |坚持热爱，活成一束光，照亮自己，成就更好的他</a>
        </div>
        <div>
            <a href=""><img src="../../../static/images/img2.jpg" alt=""></a>
            <a href="">惠若琪 |坚持热爱，活成一束光，照亮自己，成就更好的他</a>
        </div>
        <div>
            <a href=""><img src="../../../static/images/img3.jpg" alt=""></a>
            <a href="">惠若琪 |坚持热爱，活成一束光，照亮自己，成就更好的他</a>
        </div>
        <div>
            <a href=""><img src="../../../static/images/img4.jpg" alt=""></a>
            <a href="">惠若琪 |坚持热爱，活成一束光，照亮自己，成就更好的他</a>
        </div>
        <div>
            <a href=""><img src="../../../static/images/img5.jpg" alt=""></a>
            <a href="">惠若琪 |坚持热爱，活成一束光，照亮自己，成就更好的他</a>
        </div>
        <div>
            <a href=""><img src="../../../static/images/img6.jpg" alt=""></a>
            <a href="">惠若琪 |坚持热爱，活成一束光，照亮自己，成就更好的他</a>
        </div>
        <div>
            <a href=""><img src="../../../static/images/img7.jpg" alt=""></a>
            <a href="">惠若琪 |坚持热爱，活成一束光，照亮自己，成就更好的他</a>
        </div>
        <div>
            <a href=""><img src="../../../static/images/img8.jpg" alt=""></a>
            <a href="">惠若琪 |坚持热爱，活成一束光，照亮自己，成就更好的他</a>
        </div>
    </div>

</div>
</body>
</html>