<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论列表(也可以用到其它需要列表的区域)</title>
    <link rel="stylesheet" href="public_comment_list.css">
</head>
<body>
<div class="public-comment-list">
    <h3>最新评论</h3>
    <ul>
        <li><a href="">4K单反王佳能EOS90D,新一代单反神器</a></li>
        <li><a href="">或本周亮相, 尼康Z6/Z7即将迎来新固件</a></li>
        <li><a href="">逃避都市光污染,震撼的8K延时寻找最美银河</a></li>
        <li><a href="">自拍榜第一超广角自拍华为nova6 5G热卖中</a></li>
        <li><a href="">微软公布新XBOX/国行Switch销量火爆</a></li>
        <li><a href="">爱琴海上的璀璨明珠 丰满迷人的泳装身姿</a></li>
        <li><a href="">律动的城市乐章2020城市摄影大赛</a></li>
        <li><a href="">价值百万摄影机,却只是星球大战纪念品</a></li>
        <li><a href="">有温度的课程，得到的不只是专业！</a></li>
    </ul>
</div>
</body>
</html>