<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public_second_hand.css">
    <title>公共二手交易区组件</title>
</head>
<body>

<!--引入大标题组件-->
<div class="public-headline">
    <span>二手交易</span>
</div>

<!--二手交易专区-->
    <div class="public-second-hand">
        <!-- 标题1-->
        <div class="title1">
            <a href="">抢好货</a>
            <span>0低价, 便捷,安全,快速</span>
        </div>
        <!-- 标题2-->
        <div class="title2">
            <span>热门分类</span>
            <a href="">美女写真</a>
            <a href="">日本美女</a>
            <a href="">美国美女</a>
            <a href="">国内美女</a>
            <a href="">AV美女</a>
        </div>
        <!--商品展示区-->
        <div class="goods">
            <!--左侧商品列表-->
            <div class="goods-list">
                <!-- 商品简介-->
                <div class="intro">
                    <a href=""><img src="../../../static/images/shop/shop1.jpg" alt="" width="176" height="120"></a>
                    <a href="">美女性感写真海报墙艺术装饰画贴画图1</a>
                    <div>
                        <span>&yen; 333</span>
                        <span>美女</span>
                    </div>
                </div>

                <div class="intro">
                    <a href=""><img src="../../../static/images/shop/shop2.jpg" alt="" width="176" height="120"></a>
                    <a href="">美女性感写真海报墙艺术装饰画贴画图2</a>
                    <div>
                        <span>&yen; 333</span>
                        <span>美女</span>
                    </div>
                </div>

                <div class="intro">
                    <a href=""><img src="../../../static/images/shop/shop3.jpg" alt="" width="176" height="120"></a>
                    <a href="">美女性感写真海报墙艺术装饰画贴画图3</a>
                    <div>
                        <span>&yen; 333</span>
                        <span>美女</span>
                    </div>
                </div>

                <div class="intro">
                    <a href=""><img src="../../../static/images/shop/shop4.jpg" alt="" width="176" height="120"></a>
                    <a href="">美女性感写真海报墙艺术装饰画贴画图4</a>
                    <div>
                        <span>&yen; 333</span>
                        <span>美女</span>
                    </div>
                </div>

                <div class="intro">
                    <a href=""><img src="../../../static/images/shop/shop5.jpg" alt="" width="176" height="120"></a>
                    <a href="">美女性感写真海报墙艺术装饰画贴画图5</a>
                    <div>
                        <span>&yen; 333</span>
                        <span>美女</span>
                    </div>
                </div>

                <div class="intro">
                    <a href=""><img src="../../../static/images/shop/shop6.jpg" alt="" width="176" height="120"></a>
                    <a href="">美女性感写真海报墙艺术装饰画贴画图6</a>
                    <div>
                        <span>&yen; 333</span>
                        <span>美女</span>
                    </div>
                </div>

                <div class="intro">
                    <a href=""><img src="../../../static/images/shop/shop7.jpg" alt="" width="176" height="120"></a>
                    <a href="">美女性感写真海报墙艺术装饰画贴画图7</a>
                    <div>
                        <span>&yen; 333</span>
                        <span>美女</span>
                    </div>
                </div>

                <div class="intro">
                    <a href=""><img src="../../../static/images/shop/shop8.jpg" alt="" width="176" height="120"></a>
                    <a href="">美女性感写真海报墙艺术装饰画贴画图8</a>
                    <div>
                        <span>&yen; 333</span>
                        <span>美女</span>
                    </div>
                </div>


            </div>
            <!--右侧功能快速入口-->
            <div class="quick-entry">
                <a href=""><img src="../../../static/images/ad/1.png" alt="" ></a>
                <a href=""><img src="../../../static/images/ad/2.png" alt=""></a>
                <a href=""><img src="../../../static/images/ad/3.png" alt=""></a>
                <a href=""><img src="../../../static/images/ad/4.png" alt=""></a>
                <div>
                    <a href=""><img src="../../../static/images/ad/image.png" alt=""></a>
                    <a href=""><img src="../../../static/images/ad/ad2.jpg" alt=""></a>
                </div>

            </div>
        </div>

    </div>

</body>
</html>