<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/font/iconfont.css">
    <link rel="stylesheet" href="shop_index_nav.css">
    <title>商城首页导航与轮播图</title>
</head>
<body>
<!--商城首页导航组件-->
<div class="shop-index-nav">
    <div class="content">
        <!-- 左侧主导航区-->
        <div class="nav">
            <!-- 主导航头部-->
            <div class="nav-top">
                <span>全部商品分类</span>
                <span class="iconfont icon-liebiao"></span>
            </div>
            <!--主导航主体-->
            <div class="nav-main">
                <!--具体分类-->
                <div class="nav-detail">
                    <span>数码产品</span>
                    <span>
                        <a href="">单反相机</a>
                        <a href="">微单相机</a>
                        <a href="">笔记本电脑</a>
                        <a href="">摄影机</a>
                        <a href="">稳定器</a>
                        <a href="">存储卡</a>
                    </span>
                </div>
                <div class="nav-detail">
                    <span>常用软件</span>
                    <span>
                        <a href="">修图软件</a>
                        <a href="">后期处理</a>
                        <a href="">调色软件</a>
                        <a href="">Final Cut</a>
                        <a href="">Adobe</a>
                        <a href="">其它</a>
                    </span>
                </div>
                <div class="nav-detail">
                    <span>商业推广</span>
                    <span>
                        <a href="">公众号</a>
                        <a href="">小程序</a>
                        <a href="">今日头条</a>
                        <a href="">VLOG</a>
                        <a href="">抖音</a>
                        <a href="">其它平台</a>
                    </span>
                </div>
            </div>
        </div>

        <!--右侧轮播图区-->
        <div class="slider">
            <!-- 轮播图头部-->
            <div class="slider-top">
                <a href="">首页</a>
                <a href="">数码3C</a>
                <a href="" id="active">免费素材<img src="../../../static/images/hot.png" alt=""></a>
                <a href="">摄影器材</a>
                <a href="">阳光交易</a>
                <a href="">跨境电商</a>
                <a href="">商业素材</a>
                <a href="">商业素材</a>
                <a href="">商业推广</a>
            </div>
            <!--轮播图主体-->
            <div class="slider-main">
<!--                实际项目中应该用轮播图插件或由JS控制多图切换-->
                <img src="../../../static/images/2.jpg" alt="">
            </div>
        </div>
    </div>
</div>
</body>
</html>