<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public_image_list.css">
    <title>公共图片显示示组件</title>
</head>
<body>
<!--引入大标题组件-->
<div class="public-headline">
    <span>图片专区</span>
</div>

<!--图片专区-->
<div class="public-image-list">
    <div class="list">
        <div class="title">
            <a href="">美女</a>
            <span>纵观摄影艺术</span>
        </div>
        <div class="img-list">
            <div>
                <a href=""><img src="../../../static/images/img1.jpg" alt=""></a>
                <a href="">阴沉夏日的柔美身姿 复古少女的藕荷色心情</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img2.jpg" alt=""></a>
                <a href="">愿你生活的都是每一天都是快快乐乐的, 一定要</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img3.jpg" alt=""></a>
                <a href="">今夜我不关心人类,我只想你,从爱上你的那天起</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img4.jpg" alt=""></a>
                <a href="">我转头,看见你走来,在阳光里,于是笑容从我心里溢出</a>
            </div>
        </div>
    </div>

    <div class="list">
        <div class="title">
            <a href="">健康</a>
            <span>纵观摄影艺术</span>
        </div>
        <div class="img-list">
            <div>
                <a href=""><img src="../../../static/images/img5.jpg" alt=""></a>
                <a href="">听闻小姐治家有方,鄙人余生愿闻其详</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img6.jpg" alt=""></a>
                <a href="">冰冷的啤酒,带着阳光味道的衬衫,日复一日的梦想</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img7.jpg" alt=""></a>
                <a href="">你对我说的每一句话，都是沙漠里下过的雨</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img8.jpg" alt=""></a>
                <a href="">你是年少的欢喜 这句话反过来也是你</a>
            </div>
        </div>
    </div>

    <div class="list">
        <div class="title">
            <a href="">青春</a>
            <span>纵观摄影艺术</span>
        </div>
        <div class="img-list">
            <div>
                <a href=""><img src="../../../static/images/img1.jpg" alt=""></a>
                <a href="">你是我这一生等了半世未拆的礼物,世未拆的礼物</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img2.jpg" alt=""></a>
                <a href="">这个世界一点都不温柔,还好有你,还好有你</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img3.jpg" alt=""></a>
                <a href="">我看过很多书,但都没有你好看,没有你好看</a>
            </div>
            <div>
                <a href=""><img src="../../../static/images/img4.jpg" alt=""></a>
                <a href="">要带着温度见你,哪怕是在梦里,哪怕是在梦里</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>