<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="article_detail_content.css">
    <title>文章系统内容详情</title>
</head>
<body>
<div class="article_detail-content">
    <h1>印度这一幕这要是发生在中国, 西方会多疯狂干预?</h1>
    <div>
        <span>发布时间：2019年12月16日</span>
        <span>来源: 环球时报</span>
        <span>阅读量:12545</span>
        <span>评论数:145</span>
    </div>
    <div>
        <p>原标题: 印度这一幕这要是发生在中国, 西方会多疯狂干预?</p>

        <p>
            西方舆论机器开足马力攻击中国人权，真的不是因为中国的人权太差了，而是中国的综合发展做得太好了。
        </p>
        　　<p>
        印度因为通过《公民身份修正法》，单独将2014年底之前进入印度的穆斯林排除在可以获得印度国籍的“受迫害移民”之外，在阿萨姆邦和西孟加拉邦等地引发了严重骚乱。至上周日已有多人在骚乱中被警察打死，阿萨姆邦从11日开始断网，示威中的暴力不断升级，很多巴士甚至火车被烧毁。</p>

        <img src="../../../static/images/news1.jpg" alt="">
        <h3>15日的示威活动中，德里交通公司的一辆巴士被点燃（图源：“今日印度”）</h3>
        
        　　<p>
        处理宗教矛盾是印度的老大难问题，印度东北部地区长期存在大量的穆斯林移民，印度国内原有的穆斯林人口也上升很快，这一切在悄然改变印度的人口结构。不少印度媒体都认为，目前的莫迪政府更加依靠印度教徒的支持，这让印度的宗教紧张有上升之势。
    </p>


        　　<p>莫迪政府幸运的是，西方对印度民族及宗教事务的干预非常有限。美国的国际宗教自由委员会在《公民身份修正法》通过之前批评了印度，称该委员会“担心印度政府正在为公民身份设立一条宗教测试”。该法通过后，美国国务院发言人也提出了批评，要求印度遵守宪法承诺。但这些批评不太可能演变成印美之间的外交危机</p>
        <img src="../../../static/images/news2.jpg" alt="">
        <h3>在国立伊斯兰大学内，印度示威者抗议《公民身份法》修正案（图源：印度PTI通讯社）</h3>
        　　<p>中印作为两个发展中的大国，却受到西方舆论截然不同的对待，根本原因并非印度是西方概念中的“民主国家”，而西方人对中国的“意识形态成见”太深了。中国被西方双标的矛头锁定，深层的最大推力是中国崛起了，而美国不接受，西方一些精英看不惯</p>

        　　<p>但所有这些都形不成持续的压力，而且多为西方舆论机构扮演主角，国会议员和非政府组织即使参与，贡献的也基本是舆论角色，西方国家的政府则很少出面</p>


        　　<p>责任编辑：吴金明</p>

    </div>
</div>
</body>
</html>