<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="image_detail_slider.css">
    <title>图片站详情页组件</title>
</head>
<body>
<div class="image-detail-slider">
    <h2>APS-C画幅微单旗舰 索尼α6600现售10599元</h2>
<!--    上面的轮播图-->
    <div class="slider">
        <a href="">
            <img src="../../../static/images/2.jpg" alt="">
        </a>
    </div>

<!--    下面的缩略图-->
    <div class="thumb">
        <a href=""><img src="../../../static/images/1.jpg" alt=""></a>
        <a href=""><img src="../../../static/images/2.jpg" alt=""></a>
        <a href=""><img src="../../../static/images/3.jpg" alt=""></a>
        <a href=""><img src="../../../static/images/4.jpg" alt=""></a>
        <a href=""><img src="../../../static/images/4.jpg" alt=""></a>
    </div>
</div>
</body>
</html>