<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/font/iconfont.css">
    <link rel="stylesheet" href="article_list_content.css">
    <title>文章列表页图文列表</title>
</head>
<body>
<div class="article-list-content">
    <div class="top-nav">
        <a href="">头条</a>
        <a href="">热文</a>
        <a href="">直播</a>
        <a href="" id="active">新闻</a>
        <a href="">政策地图</a>
        <a href="">相对论</a>
        <a href="">人物</a>
        <a href="">行情</a>
        <a href="">投研</a>
        <a href="">技术</a>
        <a href="">百科</a>
    </div>
    <div class="img-list">
        <a href=""><img src="../../../static/images/list1.jpg" alt="" width="272"></a>
        <div class="intro">
            <div class="title">
                <a href="">巨蟹 去中心化交易所的赛道开始拥挤 风口要来了</a>
                <span>巨蟹 去中心化交易所的赛道开始拥挤 风口要来了</span>
            </div>
            <div class="time">
                <a href="">区块链头条 · 46 分钟前</a>
                <span><i class="iconfont icon-icon_yulan"></i>2233</span>
            </div>
        </div>
    </div>

    <div class="img-list">
        <a href=""><img src="../../../static/images/list2.jpg" alt="" width="272"></a>
        <div class="intro">
            <div class="title">
                <a href="">河南许昌市公安局副局长彭杰被查 系主动投案</a>
                <span>许昌市公安局党委委员涉嫌严重违纪违法</span>
            </div>
            <div class="time">
                <a href="">法制头条 · 120 分钟前</a>
                <span><i class="iconfont icon-icon_yulan"></i>43234</span>
            </div>
        </div>
    </div>

    <div class="img-list">
        <a href=""><img src="../../../static/images/list3.jpg" alt="" width="272"></a>
        <div class="intro">
            <div class="title">
                <a href="">厦门路面塌陷事故原因:施工过程中立柱承重超负荷</a>
                <span>厦门路面塌陷事故原因:施工过程中立柱承重超负荷</span>
            </div>
            <div class="time">
                <a href="">城市头条 · 32 分钟前</a>
                <span><i class="iconfont icon-icon_yulan"></i>54567</span>
            </div>
        </div>
    </div>

    <div class="img-list">
        <a href=""><img src="../../../static/images/list1.jpg" alt="" width="272"></a>
        <div class="intro">
            <div class="title">
                <a href="">瑞雪兆丰年,你的车需要这份攻略"稳住"雪天!</a>
                <span>12月16日,北京迎来第二场雪,银装素裹</span>
            </div>
            <div class="time">
                <a href="">今日头条 · 78 分钟前</a>
                <span><i class="iconfont icon-icon_yulan"></i>4090</span>
            </div>
        </div>
    </div>

    <div class="img-list">
        <a href=""><img src="../../../static/images/list2.jpg" alt="" width="272"></a>
        <div class="intro">
            <div class="title">
                <a href="">红旗版“劳斯莱斯”实拍,比BBA开着更有面</a>
                <span>新车将搭载一汽最新研发3.0T V6机械增压发动机</span>
            </div>
            <div class="time">
                <a href="">汽车头条 · 10 分钟前</a>
                <span><i class="iconfont icon-icon_yulan"></i>98767</span>
            </div>
        </div>
    </div>

</div>
</body>
</html>