<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="shop_detail_tab.css">
    <title>商城详情页右下详情选项卡</title>
</head>
<body>
<!--商城详情页右下详情选项卡-->
<div class="shop-detail-tab">
    <div class="tab">
        <span class="active">商品详情</span>
        <span>案例/演示</span>
        <span>常见问题</span>
        <span>累计评价</span>
        <span>产品咨询</span>
    </div>
    <div class="content">
        <h3>屏幕更大了，素质依旧优秀</h3>
        <p>要说新款MacBook Pro身上最明显的变化，那肯定就是更大的16英寸显示屏和更窄的屏幕边框了</p>
        <p style="text-align: center"><img src="../../../static/images/shop/9.jpg" alt="" width="400"></p>
        <p>不过它的显卡从AMD Radeon Pro 500系列升级到了5000M系列，后者采用了AMD最新的RDNA架构，显存也从GDDR5升级到了GDDR6（标配4GB，可选配6GB）。</p>
        <p>这块16英寸视网膜显示屏的分辨率有所提高，从15英寸版的2880x1800提高到了3072x1920，像素密度也从220ppi提高到了226ppi。</p>
        <p>此外，用户现在还能在系统偏好设置当中对屏幕的刷新率进行手动调节。如果你是专业视频编辑者，在使用这台设备的时候应该就不会再遇到因为编辑内容与显示屏刷新率不一致所产生的播放不流畅问题。</p>
        <p style="text-align: center"><img src="../../../static/images/shop/10.jpg" alt="" width="400"></p>
        <p>苹果表示，标配4GB GDDR6显存的Radeon Pro 5500M图形性能要比15英寸MacBook Pro所使用的Radeon Pro 560X（4GB GDDR5显存）提升最高2.1倍；而顶配8GB版5500M图形性能也要比上代顶配机型（Radeon Pro Vega 20，4GB HBM2显存）提升最多80%。</p>
        <p>从实际观感来看，这块显示屏的显示效果还是一如既往得优秀，画面细腻，色彩准确，可视角度宽广，亮度充足，可以说维持了MacBook系列一贯的高水准。更大的屏幕也为网页浏览和视频观看带来了更大的空间，这个尺寸的笔记本屏幕，可以说是给有专业需求的用户量身定制，能够更好地发布会在视频、音频、设计等领域的作用</p>
        <p style="text-align: center"><img src="../../../static/images/shop/11.jpg" alt="" width="400"></p>
        <h3>剪刀键盘带来舒适打字手感</h3>
        <p>2015年在12英寸MacBook上首度亮相的蝶式键盘，用户吐槽它“铁板打字”的手感，而它自己也很不争气得非常容易出故障。</p>
        <p>不过我自己反而一直是蝶式键盘的忠实粉丝，主要原因是蝶式键盘在打字的时候极其稳定，不会出现按键左右偏移的情况</p>
    </div>
</div>
</body>
</html>