<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="shop_detail_recommend.css">
    <title>商城详情页左下推荐商品列表</title>
</head>
<body>
<!--商城详情页左下推荐商品列表-->
<div class="shop-detail-recommend">
    <h3>推荐商品</h3>
    <div>
        <a href="">
            <img src="../../../static/images/shop/shop1.jpg" alt="">
        </a>
        <a href="">韩国美女最新海报促销美妆写真图集</a>
        <div class="hot">
            <span>热销:</span><span>8976</span>
            <span>价格:</span><span>&yen;99</span>
        </div>
    </div>
    <div>
        <a href="">
            <img src="../../../static/images/shop/shop2.jpg" alt="">
        </a>
        <a href="">韩国美女最新海报促销美妆写真图集</a>
        <div class="hot">
            <span>热销:</span><span>324</span>
            <span>价格:</span><span>&yen;798</span>
        </div>
    </div>
    <div>
        <a href="">
            <img src="../../../static/images/shop/shop3.jpg" alt="">
        </a>
        <a href="">韩国美女最新海报促销美妆写真图集</a>
        <div class="hot">
            <span>热销:</span><span>678</span>
            <span>价格:</span><span>&yen;630</span>
        </div>
    </div>
    <div>
        <a href="">
            <img src="../../../static/images/shop/shop4.jpg" alt="">
        </a>
        <a href="">韩国美女最新海报促销美妆写真图集</a>
        <div class="hot">
            <span>热销:</span><span>12</span>
            <span>价格:</span><span>&yen;980</span>
        </div>
    </div>
</div>
</body>
</html>