<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/font/iconfont.css">
    <link rel="stylesheet" href="article_header.css">
    <title>文章系统公共头部</title>
</head>
<body>
    <div class="article-header">
        <div class="content">
            <img src="../../../static/images/ar-logo.png" alt="">
            <a href="">财经</a>&gt;<span>正文</span>
            <div class="search">
                <input type="search" id="search" placeholder="搜索关键字">
                <label class="iconfont icon-sousuo2" for="search"></label>
            </div>
        </div>
    </div>
</body>
</html>